<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <appSettings>
    <add key="SMTPName" value="172.17.4.45" />
    <add key="SendFromEmail" value="krishnachandra.singh@cyient.com"/>
    <add key="SendFromName" value="Krishna Singh"/>
    <add key="SendFromPwd" value="tgMrnRLUsY+lSoAn0oiCEvRKDqNCj9ekoUSYziQvYXk="/>
  </appSettings>
</configuration>
